<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<title>Teachers</title>
</head>
<body>
	<h1>Teachers!</h1>

	<div th:if="${success}" class="alert alert-success" role="alert">
		<span th:text="${success}"> success </span>
	</div>
	<div th:if="${error}" class="alert alert-danger" role="alert">
		<span th:text="${error}"> error </span>
	</div>

	<hr />
	<a th:href="@{/teacher/edit/0}" class="btn btn-secondary">New</a>
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Address</th>
				<th>identification</th>
				<th>active</th>
				<th>edit</th>
			</tr>
		</thead>
		<tbody>
			<tr th:if="${teachers.empty}">
				<td colspan="2">No Teachers Available</td>
			</tr>

			<tr th:each="t : ${teachers}">
				<td><span th:text="${t.name}"> Name </span></td>
				<td><span th:text="${t.address}"> Address </span></td>
				<td><span th:text="${t.identification}"> identification </span></td>
				<td><span th:text="${t.active}"> active </span></td>
				<td><a th:href="@{/teacher/edit/{id}(id=${t.id})}">edit</a></td>
			</tr>
		</tbody>
	</table>

	<div class="table-pagination">
		<ul class="pagination">
			<li th:class="${teacherPages.currentPage eq 0} ? 'disabled' : ''">
				<a th:if="${not teacherPages.firstPage}" th:href="@{${'/teacher/list'}(page=${teacherPages.currentPage-1},size=${teacherPages.sizeShowed})}">Previous</a>
				<a th:if="${teacherPages.firstPage}" href="javascript:void(0);">Previous</a>
			</li>
	
			<li th:each="pageNo : ${#numbers.sequence(0, teacherPages.totalPages - 1)}" th:class="${teacherPages.currentPage eq pageNo}? 'active' : ''">
				<a th:if="${teacherPages.currentPage  eq pageNo}" href="javascript:void(0);">
					<span th:text="${pageNo + 1}"></span>
				</a>
				<a th:if="${not (teacherPages.currentPage  eq pageNo)}" th:href="@{${'/teacher/list'}(page=${pageNo},size=${teacherPages.sizeShowed})}">
					<span th:text="${pageNo + 1}"></span>
				</a>
	
			</li>
			<li th:class="${teacherPages.currentPage + 1 ge teacherPages.totalPages} ? 'disabled' : ''">
				<a th:if="${not teacherPages.lastPage}" th:href="@{${'/teacher/list'}(page=${teacherPages.currentPage+1},size=${teacherPages.sizeShowed})}">Next</a>
				<a th:if="${teacherPages.lastPage}" href="javascript:void(0);">Next</a>
			</li>
		</ul>
	</div>
</body>
</html>